[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #4051b5;
  --md-primary-fg-color--light: #5c6bc0;
  --md-primary-fg-color--dark:  #303f9f;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #5c6bc0;
  --md-primary-fg-color--light: #7986cb;
  --md-primary-fg-color--dark:  #303f9f;
}
